/* The Modal (background) */
.p {
    font-size: 16px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    color: #a4a2e5;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#modal_close {
    color: #a4a2e5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modal_close:hover,
#modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_header {
    padding: 5px 10px;
    background-color: #a2c2e5;
    color: white;
}

#modal_body {
    padding: 20px;
    font-size: 14px;
    }

#modal_footer {
    height: 30px;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#input_title{
    width:95%;
    height: 30px;
}

#input_msg{
    width:95%;
    height:150px;
}

#input_tag{
    width:95%;
    height: 30px;
}

#createdAt{
    font-size: 10px;
    color: white;
}

.box{
    display: flex;
    justify-content:space-between;
    height: 20px;
}

.inputBox{
    padding: 5px;
}
